*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../images/light.jpg) no-repeat center/cover;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.spread span{
    display: inline-block;
    font-size: 4rem;
    transition: all .3s ease-in-out;
    font-weight: bold;
    color: aqua;
    cursor: pointer;
    margin-left: 10px;
}

.spread span:hover{
    transform: translateY(-10px) scale(2.2);
    color: yellow;
}

@media all and (max-width:1024px) {
    .spread span{
        font-size: 40px;
        margin-left: 5px;
        font-weight: bold;
    }
}

@media all and (max-width:768px) {
    .spread span{
        font-size: 40px;
        margin-left: 3px;
    }
}

@media all and (max-width:400px) {
    .spread span{
        font-size: 20px;
        margin-left:  0;
    }
}

